@use 'fonts';

$primary-color: rgb(255, 186, 186);
$secondary-color: white;
$accent-color: #ffffff;
$body-text-color: #000000;

$heading-font-family: 'Montserrat', helvetica, arial;
$body-font-family: 'KoHo',arial, sans-serif;

$base-font-size: 18px;
$mobile-heading-font-size: 25px;
$tablet-heading-font-size: 35px;
$desktop-heading-font-size: 80px;
$gray-color: #9a9a9a;
$base-font-weight: 400;

