@use 'fonts';

$primary-color: #FFA458;
$secondary-color: #BA3B0A;
$accent-color: #BA3B0A;
$body-text-color: #333;
$heading-font-family: 'cantarellregular', helvetica, arial;
$body-font-family: helvetica,arial, sans-serif;
$base-font-size: 18px;
$mobile-heading-font-size: 25px;
$tablet-heading-font-size: 35px;
$desktop-heading-font-size: 80px;
$gray-color: #9a9a9a;
$base-font-weight: 400;

