

#thereel {
    background-color: #d35051;
}

#thereel h3 {
    font-size: 30px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
}

#theproject {
    color: rgb(245, 238, 230);
}

#thevideo video {
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}


@media screen and (min-width:768px) {
    #thereel {
        background-color: #d35051;
    }

    #thereel h3 {
        font-size: 50px;
        text-align: left;
        font-family: 'Raleway', sans-serif;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    #theproject {
        color: rgb(245, 238, 230);
    }

    #thevideo video {
        border-radius: 15px;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
    }
}

@media screen and (min-width:1920px) {
    #thereel {
        background-color: #d35051;
    }

    #thereel h3 {
        font-size: 125px;
        text-align: left;
        font-family: 'Raleway', sans-serif;
        margin-top: 40px;
    }

    #theproject {
        color: rgb(245, 238, 230);
    }

    #thevideo {
        margin-top: 0px;
        grid-row: 2/3;
        
    }

    #thevideo video {
        border-radius: 20px;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
    }

    // player custom

    .videocontrols {
        // position: absolute;
        right: 0;
        left: 0;
        padding: 20px;
        bottom: 0px;
        transition: all 0.2s ease;
        display: flex;
    }

    .videocontrols.hide {
        opacity: 0;
        pointer-events: none;
    }

    button {
        padding: 0px;
        border: 0px;
        background-color: transparent;
    }

    .fa, .fa-solid {
        color: white;
        font-size: 28px;
        margin-left: 20px;
    
    }
    
    .fa-volumeup {
        margin-left: auto;
    
    }
    
    .fa-stop-circle-o {
        margin-right:  20px;
    }
}