@use '../abstracts' as a;

#gallery {
    background-color: a.$gray-color;
    margin-top: 20px;
}

#vault {
    height: 55px;
    margin-top: 40px;
    font-size: 40px;
    font-family: 'Ovo', serif;
    padding: 0;
}

#gal1 {
    height: 288px;
}

#text1 {
    height: 40px;
    margin-top: 200px;
    font-size: 25px;
    padding: 0;
    font-family: 'Yeseva One', serif;
}

#gal2 {
    height: 288px;
}

#text2 {
    height: 40px;
    margin-top: 200px;
    font-size: 20px;
    padding: 0;
    font-family: 'Yeseva One', serif;
}

#gal3 {
    height: 288px;
}

#text3 {
    height: 40px;
    margin-top: 200px;
    font-size: 25px;
    padding: 0;
    font-family: 'Yeseva One', serif;
}

@media screen and (min-width:768px) {

    #gallery {
        margin-top: 30px;
    }

    #vault {
        height: 40px;
        font-size: 40px;
        font-family: 'Ovo', serif;
        padding: 0;
    }

    #gal1 {
        height: 252px;
    }
    
    #text1 {
        height: 25px;
        margin-top: 175px;
        font-size: 20px;
        padding: 0;
        font-family: 'Yeseva One', serif;
    }
    
    #gal2 {
        height: 252px;
    }
    
    #text2 {
        height: 25px;
        margin-top: 175px;
        font-size: 20px;
        padding: 0;
        font-family: 'Yeseva One', serif;
    }

    #gal3 {
        height: 252px;
    }
    
    #text3 {
        height: 25px;
        margin-top: 175px;
        font-size: 20px;
        padding: 0;
        font-family: 'Yeseva One', serif;
    }
    

}

@media screen and (min-width:1920px) {

    #vault {
        height: 100px;
        font-size: 80px;
        font-family: 'Ovo', serif;
        padding: 0;
    }

    #gal1 {
        height: 630px;
        
    }

    #text1 {
        height: 63px;
        margin-top: 490px;
        font-size: 50px;
        padding: 0;
        font-family: 'Yeseva One', serif;
    }

    #gal2 {
        height: 630px;
    }

    #text2 {
        height: 63px;
        margin-top: 490px;
        font-size: 50px;
        padding: 0;
        font-family: 'Yeseva One', serif;
    }

    #gal3 {
        height: 630px;
    }

    #text3 {
        height: 63px;
        margin-top: 490px;
        font-size: 50px;
        padding: 0;
        font-family: 'Yeseva One', serif;
    }

}