@use '../abstracts' as a;

#main-header {
    background-color: a.$gray-color;
    height: 76px;

    #logo {
        height: 48px;
    }

    #name {
        display: none;
    }

    #portfolionav {
        display: none;
    }

    #contactnav {
        display: none;
    }

    #burger {
        height: 33px;
        margin-top: 15px;
    }

    #main-nav a {
        color: a.$primary-color;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) {

    #main-header {
        #main-nav ul {
            justify-content: flex-end;
        }

        #logo {
            margin-left: 0px;
            margin-right: 0px;
        }

        #name {
            display: block;
            height: 18px;
            margin-top: 15px;
        }

        #portfolionav {
            display: block;
            height: 13px;
            margin-top: 15px;
        }

        #contactnav {
            display: block;
            height: 13px;
            margin-top: 15px;
        }

        #burger {
            display: none;
        }
    }
    
}

@media screen and (min-width: 1920px) {

    #burger {
        display: none;
    }

    #main-header {
        height: 113px;
    }

    #main-header #logo {
        height: 72px;
        margin-top: 20px;
    }

   #main-header #name {
        height: 47px;
        margin-top: 30px;
    }

    #main-header #portfolionav {
        height: 40px;
        margin-top: 35px;
    }

    #main-header #contactnav {
        height: 40px;
        margin-top: 35px;
    }
}