@use '../abstracts' as a;



#main-header {
    background-color: a.$gray-color;
    height: 76px;
}

#main-header #logo {
    height: 48px;
    margin-top: 15px;
}

 #name {
    display: none;
}

#main-header #portfolionav {
    display: none;
}

#main-header #contactnav {
    display: none;
}

#burger {
    height: 33px;
    margin-top: 15px;
}



@media screen and (min-width:768px) {

    #main-header #logo {
        height: 45px;
        margin-top: 16px;
    }

    #main-header #name {
        display: block;
        height: 18px;
        margin-top: 20px;
    }


    #main-header #portfolionav  {
        display: block;
        font-size: 18px;
        margin-top: 25px;
        font-family: 'KoHo';
        color: white;
    }

    #portfolionav a {
        text-decoration: none;
        color: white;
    }

    #main-header #contactnav {
        display: block;
        font-size: 18px;
        margin-top: 25px;
        font-family: 'KoHo';
        color: white;
    }

    #burger {
        display: none;
    }

}

@media screen and (min-width:1920px) {

    #main-header {
        height: 113px;
    }

    #main-header #logo {
        height: 72px;
        margin-top: 20px;
    }

    // #main-header #name {
    //     font-family: 'Raleway';
    //     margin-top: 20px;
    // }

    #main-header h2 {
        margin-top: 20px;
    }

    #main-header #portfolionav  {
        display: block;
        font-size: 30px;
        margin-top: 45px;
        font-family: 'KoHo';
        color: white;
    }

    #main-header #contactnav {
        display: block;
        font-size: 30px;
        margin-top: 45px;
        font-family: 'KoHo';
        color: white;
    }

    // #main-header #portfolionav {
    //     display: block;
    //     height: 33px;
    //     margin-top: 33px;
    // }

    // #main-header #contactnav {
    //     display: block;
    //     height: 33px;
    //     margin-top: 33px;
    // }

    #portfolionav a {
        text-decoration: none;
        color: white;
    }

    #burger {
        display: none;
    }

}