@use '../abstracts' as a;

#position {
    height: 146px;
    margin-top: 60px;
}

#caption {
    height: 137px;
    margin-top: 20px;
}


#hero-con {
    background-color: #F5EEE6;
    
}

#digital {
    color: #D35051;
}

#hero-con h3 {
    font-size: 55px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

#hero-con p {
    font-size: 18px;
    text-align: right;
    line-height: 1;
}

#download {
    height: 32px;
    font-size: 13px;
    padding: 0;
    border-radius: 15px;
    background-color: #3C4A4C;
    color: #F5EEE6;
    border: none;
    color: #F5EEE6;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

#meeting {
    height: 32px;
    font-size: 13px;
    padding: 0;
    border-radius: 15px;
    background-color: #3C4A4C;
    color: #F5EEE6;
    border: none;
    color: #F5EEE6;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width:768px) {

    #position {
        height: 189px;
        margin-top: 80px;
    }

    #caption {
        height: 65px;
        margin-top: 200px;
        
    }

    #hero-con {
        background-color: #F5EEE6;
        height: 500px;
    }

    #digital {
        color: #D35051;
    }

    #hero-con h3 {
        margin-top: 50px;
        font-size: 70px;
        text-align: left;
        font-family: 'Raleway', sans-serif;
        line-height: 1.5;
       
    }

    #hero-con p {
        font-size: 25px;
        text-align: right;
        line-height: 1;
        padding: 0;
    }

    #download {
        height: 50px;
        font-size: 20px;
        padding: 0;
        border-radius: 15px;
        background-color: #3C4A4C;
        color: #F5EEE6;
        border: none;
        color: #F5EEE6;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    }

    #meeting {
        height: 50px;
        font-size: 20px;
        padding: 0;
        border-radius: 15px;
        background-color: #3C4A4C;
        color: #F5EEE6;
        border: none;
        color: #F5EEE6;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    }

}

@media screen and (min-width:1920px) {
    #position {
        height: 406px;
        margin-top: 250px;
    }

    #hero-con {
        background-color: #F5EEE6;
        height: 850px;
    }

    #digital {
        color: #D35051;
    }

    #caption {
        height: 161px;
        margin-top: 494px;
    }

    #hero-con h3 {
        font-size: 125px;
        text-align: left;
        font-family: 'Raleway', sans-serif;
        line-height: 1.5;
    }

    #hero-con p {
        font-size: 30px;
        text-align: right;
        line-height: 1.5;
    }

    #download {
        height: 62px;
        font-size: 30px;
        padding: 0;
        border-radius: 15px;
        background-color: #3C4A4C;
        color: #F5EEE6;
        border: none;
        color: #F5EEE6;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    }

   
    #meeting {
        height: 62px;
        font-size: 30px;
        padding: 0;
        border-radius: 15px;
        background-color: #3C4A4C;
        color: #F5EEE6;
        border: none;
        color: #F5EEE6;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    }

   

    

    #download:hover {
        background-color: #D35051;
        color:#3C4A4C;
    }

    #meeting:hover {
        background-color: #D35051;
        color:#3C4A4C;
    }

}