@use '../abstracts' as a;

#insights {
    background-color: a.$gray-color;
}

#about {
    height: 120px;
}

#myphoto {
    height: 526px;
}

#mycap {
    height: 500px;
}

#socials {
    height: 145px;

}

#icons {
    height: 40px;
}

@media screen and (min-width: 768px) {

    #myphoto {
        height: 344px;
    }

    #mycap {
        height: 344px;
    }

    #socials {
        height: 32px;
    }

    #icons {
        height: 40px;
    }
}

@media screen and (min-width: 1920px) {
    #myphoto {
        height: 777px;
    }

    #mycap {
        height: 777px;
    }

    #socials {
        height: 81px;
    }

    #icons {
        height: 100px;
    }
}