@use '../abstracts' as a;

#insights {
    
    background-color: a.$gray-color;
}

#about {
    height: 120px;
    margin-top: 20px;
    font-family: 'Ovo', serif;
    font-size: 50px;
    padding: 0;
}

#myphoto {
    height: 526px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#mycap {
    height: 500px;
}

#insights p {
    font-size: 15px;
    text-align: left;
    padding: 0;
    line-height: 1.5;
}

#socials {
    height: 80px;
    font-family: 'Yeseva One', serif;
    font-size: 30px;
    padding: 0;
}

#icons {
    height: 125px;
}

@media screen and (min-width:768px) {

    #about {
        height: 40px;
        margin-top: 50px;
        font-family: 'Ovo', serif;
        font-size: 40px;
        padding: 0;
    }

    #myphoto {
        height: 311px;
        margin-top: 20px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    #mycap {
        height: 311px;
        margin-top: 20px;
    }

    #insights p {
        font-size: 15px;
        text-align: left;
        padding: 0;
        line-height: 1;
    }

    #socials {
        height: 32px;
        margin-top: 40px;
        font-family: 'Yeseva One', serif;
        font-size: 30px;
        padding: 0;
    }

    #icons {
        height: 65px;
        display:inline;
        justify-content: space-between;
    }

    #icons img {
        // width: 30px;
        height: 30px;
        vertical-align: middle;
        
    }

}

@media screen and (min-width:1920px) {

    #about {
        height: 100px;
        font-family: 'Ovo', serif;
        font-size: 90px;
        padding: 0;
    }

    #myphoto {
        height: 600px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    #mycap {
        height: 600px;
    }

    #insights p {
        font-size: 30px;
        text-align: left;
        padding: 0;
        line-height: 1.5;
    }

    #socials {
        height: 81px;
        font-family: 'Yeseva One', serif;
        font-size: 80px;
        padding: 0;
    }

    #icons {
        height: 100px;
        display: flex;
        justify-content: space-between;
    }

}