@use '../abstracts' as a;

#insights {
    background-image: url('../images/background.jpg');
}

#about {
    height: 203px;
    font-family: 'Bungee', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 0;
    color: #F5EEE6;
}

#myphoto {
    height: 295px;
    font-size: 20px;
    // display: flex;
    justify-content: center;
    align-items: center;
    
}

#myphoto img {
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

#mycap {
    height: 500px;
    color: white;
}

#insights p {
    font-size: 15px;
    text-align: left;
    padding: 0;
    line-height: 1.5;
}

#curious {
    height: 30px;
    font-size: 13px;
    padding: 0;
    border-radius: 15px;
    
    background-color: #3C4A4C;
    border: none;
    margin-top: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    
}

#curious a {
    text-decoration: none;
    color: white;
}


#socials {
    height: 80px;
    font-family: 'Bungee', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 0;
    color: #F5EEE6;
    margin-top: 0px;
}

#icons {
    height: 79px;
}

#icons a img {
    height: 31px;
    filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.811));
}

@media screen and (min-width:768px) {

    #insights {
        background-image: url('../images/background.jpg');
    }

    #about {
        height: 40px;
        margin-top: 13px;
        font-family: 'Bungee', sans-serif;
        font-size: 30px;
        padding: 0;
        color: #F5EEE6;
    }

    #myphoto {
        height: 311px;
        margin-top: 70px;
        font-size: 20px;
        // display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    #myphoto img {
        border-radius: 20px;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    }

    #mycap {
        height: 311px;
        margin-top: 75px;
        color: white;
    }

   

    #insights p {
        font-size: 15px;
        text-align: left;
        padding: 0;
        line-height: 1;
    }

    #curious {
        height: 30px;
        font-size: 13px;
        padding: 0;
        border-radius: 15px;
        color: #F5EEE6;
        background-color: #3C4A4C;
        border: none;
    
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
        
    }

    #curious a {
        text-decoration: none;
        color: white;
    }

    #socials {
        height: 32px;
        font-family: 'Bungee', sans-serif;
        font-size: 30px;
        padding: 0;
        color: #F5EEE6;
        margin-top: 0px;
        margin-bottom: 40px;
    }

    #icons {
        height: 65px;
        display:flex;
        justify-content: space-between;
    }

    #icons a img {
        height: 50px;
        filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.811));
    }
    

}

@media screen and (min-width:1920px) {

    #insights {
        background-image: url('../images/background.jpg');
    }

    #about {
        height: 100px;
        font-family: 'Bungee', sans-serif;
        font-size: 80px;
        margin-bottom: 88px;
        padding: 0;
        color: white;
    }

   

    #myphoto {
        height: 600px;
        font-size: 30px;
        justify-content: center;
        align-items: center;
        color: white;
    }

    #myphoto img {
        border-radius: 20px;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    }

    #mycap {
        height: 600px;
        margin-top: 20px;
    }

    #insights p {
        font-size: 30px;
        text-align: left;
        padding: 0;
        line-height: 1.5;
        margin-top: 58px;
        color: white;
    }

    #curious {
        height: 62px;
        font-size: 30px;
        padding: 0;
        border-radius: 15px;
        color: #F5EEE6;
        background-color: #3C4A4C;
        border: none;
        
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
        
    }

    #curious:hover {
        background-color:white;
        color: #3C4A4C;
    }

    #curious a:hover {
        background-color:white;
        color: #3C4A4C;
    }

    #curious a {
        text-decoration: none;
        color: white;
    }

    

    #curious  {
       
        color: #F5EEE6;
        background-color: #3C4A4C;
    }

    #socials {
        height: 81px;
        font-family: 'Bungee', sans-serif;
        font-size: 70px;
        padding: 0;
        color: #F5EEE6;
        margin-top: 0px;
        margin-bottom: 60px;
    }

    #icons {
        height: 100px;
        display: flex;
        justify-content: space-between;
        
    }

    #icons a img {
        height: 70px;
        filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.811));
    }

    
    

}